# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node / Next.js
node_modules/
.next/
out/
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# Vercel
.vercel
